* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header {
    /* background-color: darkslateblue; */
    /* background: linear-gradient(150deg, #00feba, #5f77e2); */
    /* need to make bg image responsive */
    background-image: url('./images/weather-dashboard-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    height: 60px;
}

/*BEST PRACTICE TARGETS BY CLASS NOT ID*/

/* Search bar rules*/
.container {
    display: inline-block;
    position: absolute;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

#city-input {
    height: 40px;
    width: 250px; 
    margin-top: 10px;
    margin-bottom: 15px;
    border-width: 1px;
    border-radius: 6px;
    font-size: 16px;
}

#search-btn {
    height: 30px;
    width: 251px;
    background-color: #5f77e2;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    
}

.separator {
    height: 1px;
    width: 251px;
    margin: 18px 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .separator::before {
    content: "or";
    font-size: 12px;
    padding: 0 15px;
} */

#location-btn {
    height: 30px;
    width: 251px;
    background-color: #00feba;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 6px;
}
 
/* Todays weather output */
#todays-weather {
    display: flex;
    background-color: #d7f3ce;
    height: 200px;
    width: 65%;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px;
    margin: 30px 310px 30px ;
    justify-content: space-between;

}

.icon img {
    width: 120px;
    margin-top:  -10px;
    margin-bottom: -20px;
    margin-right: 30px;
}

#todays-weather h3 {
    font-size: 20px;
    font-weight: 600;
    
}

#todays-weather h4 {
    margin-top: 12px; 
    margin-left: 20px;
    line-height: 1.8;
    font-weight: 500;
    
    
}

#future-forecast h2 {
    font-size: 20px;
    margin: 20px 0;
}

.weather-cards {
    display: flex;
    gap: 20px;
}

.weather-cards .card {
    list-style: none;
    /* change to lighter grey */
    background: #6C757D;
    padding: 18px 16px;
    border-radius: 6px;
    width: calc(100% / 5);
}


/* #prev-city-list {
    display: block;
    display: none;
    height: 30px;
    width: 300px;
    background-color: gray;
    margin: 20px;
    border-radius: 6px;
} */

