* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1{
    background-color: darkslateblue;
    text-align: center;
    color: white;
    padding: 10px;
    height: 60px;
}

#sidebar{
    display: inline-block;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

#city-input {
    height: 40px;
    width: 300px; 
    margin-top: 10px;
    margin-bottom: 15px;
    border-width: 1px;
    border-radius: 6px;
    font-size: 16px;
}

#city-search{
    height: 30px;
    width: 301px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    
}

#todays-weather {
    display: inline-block;
    height: 200px;
    width: 1020px;
    border-style: double;
    border-width: 1px;
    border-color: gray;
}

/* #todays-weather.h2{
    font-size: 20px;
    font-weight: bold;
    
}

#todays-weather.h3 {
    font-size: 15px;
} */


#prev-city-list {
    display: block;
    display: none;
    height: 30px;
    width: 300px;
    background-color: gray;
    margin: 20px;
    border-radius: 6px;
}

